@keyframes fireworks-animation {
    0% {
        transform: translate(-50%, 15vh);
        width: 1px;
        opacity: 1;
    }

    50% {
        width: 1px;
        opacity: 1;
    }

    100% {
        width: 100px;
        opacity: 0;
    }
}

.c-firework,
.c-firework::before,
.c-firework::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    aspect-ratio: 1;
    background: radial-gradient(circle, yellow 10px, #000 0) 50% 00%,
        radial-gradient(circle, khaki 10px, #000 0) 00% 50%,
        radial-gradient(circle, white 10px, #000 0) 50% 99%,
        radial-gradient(circle, lime 10px, #000 0) 99% 50%,
        radial-gradient(circle, crimson 10px, #000 0) 80% 90%,
        radial-gradient(circle, red 10px, #000 0) 95% 90%,
        radial-gradient(circle, yellow 10px, #000 0) 10% 60%,
        radial-gradient(circle, khaki 10px, #000 0) 31% 80%,
        radial-gradient(circle, white 10px, #000 0) 80% 10%,
        radial-gradient(circle, lime 10px, #000 0) 90% 23%,
        radial-gradient(circle, crimson 10px, #000 0) 45% 20%,
        radial-gradient(circle, red 10px, #000 0) 13% 24%;
    background-size: 4px 4px;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    animation: fireworks-animation 3s infinite;
}

.c-firework::before {
    transform: translate(-50%, -50%) rotate(25deg) !important;
}

.c-firework::after {
    transform: translate(-50%, -50%) rotate(-37deg) !important;
}

.c-firework:nth-of-type(2),
.c-firework:nth-of-type(2)::before,
.c-firework:nth-of-type(2)::after {
    top: 30%;
    left: 16%;
    animation-duration: 3.8s;
}

.c-firework:nth-of-type(3),
.c-firework:nth-of-type(3)::before,
.c-firework:nth-of-type(3)::after {
    top: 10%;
    left: 72%;
    animation-duration: 4.2s;
}

.c-firework:nth-of-type(4),
.c-firework:nth-of-type(4)::before,
.c-firework:nth-of-type(4)::after {
    top: 28%;
    left: 32%;
    animation-duration: 3.6s;
}