$lanternTop:60rpx;

.lantern-box {
    margin-top: 20rpx;
    position: absolute;
    top: -$lanternTop;
    right: -60rpx;
    z-index: 999;
}

.lantern {
    position: relative;
    width: 240rpx;
    height: 180rpx;
    margin: 100rpx;
    background: #d8000f;
    background: rgba(216, 0, 15, 0.8);
    border-radius: 50% 50%;
    transform-origin: 50% -200rpx;
    -webkit-transform-origin: 50% -200rpx;
    animation: swing 3s infinite ease-in-out;
    -webkit-animation: swing 3s infinite ease-in-out;
    box-shadow: -10rpx 10rpx 100rpx 8rpx rgba(250, 108, 0, 1);
}

.lantern-a {
    width: 200rpx;
    height: 180rpx;
    background: #d8000f;
    background: rgba(216, 0, 15, 0.1);
    margin: 24rpx 16rpx 16rpx 16rpx;
    border-radius: 50% 50%;
    border: 4rpx solid #dc8f03;
}

.lantern-b {
    width: 90rpx;
    height: 180rpx;
    background: #d8000f;
    background: rgba(216, 0, 15, 0.1);
    margin: -8rpx 16rpx 16rpx 52rpx;
    border-radius: 50% 50%;
    border: 4rpx solid #dc8f03;
}

.line {
    position: absolute;
    top: -80rpx;
    left: 120rpx;
    width: 4rpx;
    height: 80rpx;
    background: #dc8f03;
}

.spike-a {
    position: relative;
    width: 10rpx;
    height: 40rpx;
    margin: -10rpx 0 0 120rpx;
    animation: swing 4s infinite ease-in-out;
    -webkit-animation: swing 4s infinite ease-in-out;
    -webkit-transform-origin: 50% -90rpx;
    transform-origin: 50% -90rpx;
    background: #ffa500;
    border-radius: 0 0 10rpx 10rpx;
}

.spike-b {
    position: absolute;
    top: 28rpx;
    left: -4rpx;
    width: 20rpx;
    height: 20rpx;
    background: #dc8f03;
    border-radius: 50%;
}

.spike-c {
    position: absolute;
    top: 36rpx;
    left: -4rpx;
    width: 20rpx;
    height: 70rpx;
    background: #d8000f;
    border-radius: 0 0 0 10rpx;
}

.lantern:before {
    position: absolute;
    top: -14rpx;
    left: 60rpx;
    height: 24rpx;
    width: 120rpx;
    content: " ";
    display: block;
    z-index: 999;
    border-radius: 10rpx 10rpx 0 0;
    border: solid 2rpx #dc8f03;
    background: #ffa500;
    background: linear-gradient(to right, #dc8f03, #ffa500, #dc8f03, #ffa500, #dc8f03);
}

.lantern:after {
    position: absolute;
    bottom: -14rpx;
    left: 20rpx;
    height: 24rpx;
    width: 120rpx;
    content: " ";
    display: block;
    margin-left: 40rpx;
    border-radius: 0 0 10rpx 10rpx;
    border: solid 2rpx #dc8f03;
    background: #ffa500;
    background: linear-gradient(to right, #dc8f03, #ffa500, #dc8f03, #ffa500, #dc8f03);
}

.lantern-t {
    font-family: 华文行楷, Arial, Lucida Grande, Tahoma, sans-serif;
    font-size: 2.5rem;
    background-image: url("/miniprogram/assets/fontSvg/yuan.png");
    color: #dc8f03;
    font-weight: bold;
    line-height: 170rpx;
    margin-top: 5rpx;
    text-align: center;
}

@-webkit-keyframes swing {
    0% {
        -webkit-transform: rotate(-5deg)
    }

    50% {
        -webkit-transform: rotate(5deg)
    }

    100% {
        -webkit-transform: rotate(-5deg)
    }
}

@keyframes swing {
    0% {
        -webkit-transform: rotate(-5deg)
    }

    50% {
        -webkit-transform: rotate(5deg)
    }

    100% {
        -webkit-transform: rotate(-5deg)
    }
}