/* pages/legalHolidays/legalHolidays.wxss */
//TODO 清明节添加云烟效果
@import './scss/newYear.scss';
@import './scss/springFestival.scss';
@import './scss/laborDay.scss';
@import './scss/tombSweepingDay.scss';
@import './scss/dragonBoatFestival.scss';
@import './scss/moonFestival.scss';
@import './scss/nationalDay.scss';

//小程序font-family无效

.holidays-item {
    width: 80vw;
    margin: 45rpx;
    height: 300rpx;
    padding: 30rpx;
    border-radius: 30rpx;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.holidays-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250rpx;
}

.holidays-count-container {
    display: grid;
    width: inherit;
    grid-template-columns: 70% 30%;
    justify-items: center;
    font-size: 35rpx;
}

.holidays-count-down-container {
    margin-top: 20rpx;
}

.holidays-count-down {
    font-size: 40rpx;
    font-weight: 600;
    margin-left: 10rpx;
    margin-right: 10rpx;
    font-family: 楷体, Arial, Lucida Grande, Tahoma, sans-serif;
}

.holidays-name {
    width: inherit;
    text-align: center;
    font-size: 60rpx;
    // font-family: 楷体, Arial, Lucida Grande, Tahoma, sans-serif;
    font-family: cursive;
}

.holidays-half-screen-dialog {
    z-index: 100000;
}

.holidays-preview-box {
    height: 450rpx;
    width: 100%;
}

.wrap {
    width: 100%;
    height: 188px;
    position: absolute;
    top: -8px;
    left: 8px;
    overflow: hidden;
    font-size: 25rpx;
}

.wrap:before {
    content: "";
    display: block;
    border-radius: 8px 8px 0px 0px;
    width: 40px;
    height: 8px;
    position: absolute;
    right: 100px;
    background: #4D6530;
}

.wrap:after {
    content: "";
    display: block;
    border-radius: 0px 8px 8px 0px;
    width: 8px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 100px;
    background: #4D6530;
}

.ribbon {
    display: inline-block;
    text-align: center;
    width: 380rpx;
    height: 55rpx;
    line-height: 30px;
    position: absolute;
    top: 25rpx;
    right: -110rpx;
    z-index: 2;
    overflow: hidden;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    border: 1px dashed;
    box-shadow: 0 0 0 3px #57DD43, 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
    background: #57DD43;

    text {
        position: absolute;
        top: -1rpx;
        right: 110rpx;
    }
}

.ribbon-now {
    display: inline-block;
    text-align: center;
    width: 380rpx;
    height: 55rpx;
    line-height: 30px;
    position: absolute;
    top: 25rpx;
    right: -110rpx;
    z-index: 2;
    overflow: hidden;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    border: 1px dashed;
    box-shadow: 0 0 0 3px #57DD43, 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
    background: #57DD43;

    text {
        position: absolute;
        top: -1rpx;
        right: 120rpx;
    }
}

@keyframes showRibbon {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hideRibbon {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}