/* pages/vacationRemain/vacationRemain.wxss */
/**index.wxss**/
.chart-container {
    margin-top: 20rpx;
    width: 900rpx;
    height: 700rpx;
}

.remain-details {
    margin-top: 10rpx;
}

.remain-detail-item {
    background-color: #ECF0F1;
    margin: 25rpx;
    border-radius: 20rpx;
    padding: 20rpx;
    margin-left: 40rpx;
    margin-right: 40rpx;
    font-size: 35rpx;
}

.remain-detail-item-hover {
    animation-name: highlightRemainDetailItem;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.remain-detail-item-highlight {
    font-size: 50rpx;
}

@keyframes highlightRemainDetailItem {

    0% {
        background-color: #ECF0F1;
        color: black;
    }

    100% {
        background-color: #3A82FB;
        color: white;
    }
}