/* pages/date/date.wxss */
//实现点击月份，切换整理和对应月份，渐变透明消失
@import "./date.skeleton.wxss";
$weekday-size:10px;

.date-now {
  font-size: 18px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.date-now-weekday {
  font-size: $weekday-size;
}

.date-weekdays {
  text-align: center;
}

.date-weekdays-item {
  font-size: $weekday-size;
}

.date-array,
.date-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  gap: 10px;
}

.date-array {
  background-color: #F4F4F6;
  border-radius: 10px;
}

.date-item {
  text-align: center;
  margin-bottom: 1px;
}

.date-highlight {
  background-color: cadetblue;
  border-radius: 10px;
  padding-bottom: 5px;
}

.date-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.date-item-gregorian {
  font-size: 20px;
}

.date-item-lunar {
  font-size: 12px;
}

.date-analysis {
  background-color: #FFFFFF;
  margin: 10px;
  border-radius: 10px;
}