/* pages/about/about.wxss */

.more-app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40rpx;
  }
  .more-app-header text {
    font-size: large;
    margin: 30rpx;
  }
  .more-app-divider {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .more-app-divider-line {
    background-color: #7A7E83;
    width: calc(100vw - 40rpx);
    height: 2rpx;
  }
  .more-app-item {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    margin: 20rpx;
  }
  .more-app-item-info {
    display: flex;
    flex-direction: column;
  }
  .more-app-item-info-desc {
    font-size: 25rpx;
    color: gray;
  }
  .more-app-item image {
    width: 120rpx;
    height: 120rpx;
  }